{{/* gotype: entgo.io/ent/entc/gen.Graph */}}

{{ define "dataHelpers" }}

{{ template "header" $ }}

{{ range $node := $.Nodes }}
type {{ $node.Name }}Data struct {
    {{ if $node.ID }}ID  uuid.UUID  `json:"id"`{{ end }}

    {{ range $field := $node.Fields }}
    {{ if $field.Nillable }}{{ $field.StructField }}  *{{ $field.Type }}  `json:"{{ $field.Name }}"`{{ end }}
    {{ if not $field.Nillable }}{{ $field.StructField }}  {{ $field.Type }}  `json:"{{ $field.Name }}"`{{ end }}
    {{ end }}

    {{ range $edge := $node.Edges }}
    {{ if or $edge.O2O $edge.M2O }}{{ $edge.StructField }}  *{{ $edge.Type.Name }}Data `json:"{{ $edge.name }}"`{{ end }}
    {{ if or $edge.O2M $edge.M2M }}{{ $edge.StructField }}  []{{ $edge.Type.Name }}Data `json:"{{ $edge.Name }}"`{{ end }}
    {{ end }}
}

func (n *{{ $node.Name }}) ToData() *{{ $node.Name }}Data {
    result := {{ $node.Name }}Data{
        {{ if $node.ID }}ID:  n.ID,{{ end }}
        {{ range $field := $node.Fields }}
        {{ $field.StructField }}:  n.{{ $field.StructField }},
        {{ end }}
    }

    {{ range $edge := $node.Edges }}
    if n.Edges.{{ $edge.StructField }} != nil {
        {{ if or $edge.O2O $edge.M2O }}
        result{{ $edge.StructField }} = n.Edges.{{ $edge.StructField }}.ToData()
        {{ end }}
        {{ if or $edge.O2M $edge.M2M }}
        for _, i := range n.Edges.{{ $edge.StructField }} {
            result.{{ $edge.StructField }} = append(result.{{ $edge.StructField }}, *i.ToData())
        }
        {{ end }}
    }
    {{ end }}

    return &result
}
{{ end }}

{{ end }}
