{{/* gotype: entgo.io/ent/entc/gen.Graph */}}

{{ define "utils_update" }}

{{ template "header" $ }}

import (
	"bytes"
	"encoding/json"

	"github.com/google/uuid"
	"github.com/olekukonko/errors"

	{{- range $node := $.Nodes }}
    {{ $node.Package }} "{{ $.Config.Package }}/{{ $node.PackageDir }}"
    {{ end -}}
)

type UpdateField[T any] struct {
	Present bool
	Value   T
}

func (v *UpdateField[T]) UnmarshalJSON(data []byte) error {
	v.Present = true

	if bytes.Equal(bytes.TrimSpace(data), []byte("null")) {
		return errors.New("field cannot be null")
	}

	return json.Unmarshal(data, &v.Value)
}

{{ range $node := $.Nodes }}
type {{ $node.Name }}UpdateOptions struct {
    {{- range $field := $node.MutableFields }}
    {{- $public := true }}
    {{- with $access := $field.Annotations.Access }}{{ $public = not $access.Private }}{{ end }}
    {{- if $public }}
	{{ $field.StructField }}   *UpdateField[{{ $field.Type }}] `json:"{{ $field.Name }}" form:"{{ $field.Name }}"`
    {{ end -}}
    {{ end }}
}

func (u *{{ $node.Name }}UpdateOne) ApplyUpdateOptions(options *{{ $node.Name }}UpdateOptions) error {
	if options == nil {
		return errors.New("options cannot be nil")
	}

    {{- range $field := $node.MutableFields }}
    {{- $public := true }}
    {{- with $access := $field.Annotations.Access }}{{ $public = not $access.Private }}{{ end }}
    {{- if $public }}
    {{ if not $field.Immutable }}
	if options.{{ $field.StructField }} != nil && options.{{ $field.StructField }}.Present {
		u.Set{{ $field.StructField }}(options.{{ $field.StructField }}.Value)
	}
    {{ end -}}
    {{ end -}}
    {{ end }}

	return nil
}
{{ end }}

{{ end }}
