{{/* gotype: entgo.io/ent/entc/gen.Graph */}}
{{ define "sorting" }}

export type SortDirection = 'ASC' | 'DESC';

export interface SortParameters {
    sort_field: string,
    sort_direction: SortDirection,
}

{{ end }}